<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/userdata" method="POST">
        Name: <input type="text" name="username" placeholder="Enter Name">
        <br><br>
        Age: <input type="number" name="userage" placeholder="Enter Age">
        <button>Submit</button>
        <!-- <%if (username !== null && userage !== null){%>
        <br><%= username%><br>
        <%= userage%>
        <%}%> -->
    </form>
</body>
<script>
    // let btn = document.querySelector("button");
    // btn.addEventListener('click',(event)=>{
    //     event.preventDefault();
    // })
</script>
</html>