<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TIC-TAC-TOE</title>
    <link rel="stylesheet" href="./stylesheets/ttt.css">
</head>
<body>
    <div class="game">
        <button class="box" id="box1" value="1"></button>
        <button class="box" id="box2" value="2"></button>
        <button class="box" id="box3" value="3"></button>
        <button class="box" id="box4" value="4"></button>
        <button class="box" id="box5" value="5"></button>
        <button class="box" id="box6" value="6"></button>
        <button class="box" id="box7" value="7"></button>
        <button class="box" id="box8" value="8"></button>
        <button class="box" id="box9" value="9"></button>
    </div>
    <div class="result"></div>
    <div class="reset">
      <button class="but">Reset</button>
    </div>
    <script src="./javascripts/player.js"></script>
</body>
</html>